
 nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    width: 1320px;
    height: 50px;
    margin: auto;
    padding:24px 115px ;
 }
 .menu-items{
    display: flex;
     gap: 10px;
     list-style: none;
     padding: 12px;
 }
 .common-btn{
    background-color:#1d4ed8;
    color:#ffffff;
    border: none;
    border-radius: 12px;
    width: 192px;
    height: 56px;
    cursor:pointer;
 }
 .overlay {
    width: 1550px;
    height: 870px;
    display: flex;
    justify-content: space-between;
    align-items: center;
   background-image: url(./assets/banner.jpg);
 }
 .hero-content, h2{
   text-align: center;
   color:white;   
   padding: 95px;
   font-size: 80px;
   width: 960;
   height: 95;
 }
 .hero-content,p{
   font-size: 22px;
 }
 
 .container{
   max-width: 1350px;
   
 }
 .speaker-card-container{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap:12px;
  }
  .speaker-card{
    text-align: center;
  }
  .container, h2{
    text-align: center;
    padding: 10px 0;
  }
  .hero-btn{
     padding-top: 150px;
  }
  .price-card-title {
    
    text-align: center;
  
}
.price-card-title p{
   font-size: 12px;

}
 
.price-card-btn{
    border: 1px solid #2563eb;
    color:#2563eb;
    padding: 8px 45px;
    align-items: center;
}
.price-card-container{
    display: flex;
    justify-content: space-between;
    
}
.standard-card{
    text-align: center;
}
